<head>
  <title>Edith Boutique</title>
</head>
<body>
  <header>
    <div class="logo">
      <h1>
        Edith-
        <span> Boutique </span>
      </h1>
    </div>
<div>
<div class="head">
    <ul>
        <li> <a href="#">Blogs</a> </li>
        <li>  <a href="#">About us</a> </li>
        <li>  <a href="#">Contact us</a></li>
        <li>  <a href="#">Dealers</a> </li>
    </ul>

    <ul>
        <li>  <a href="#"><i class="bi bi-telephone"></i> </a> call us on +08178552177 </li>
        <li>  <a href="#"><i class="fa fa-map-marker"></i>  </a> Find-store</li>
        <li>  <a href="#"><i class="fa fa-shopping-cart"></i> </a>  My account</li>
    </ul>

</div>
 <div>
     <div class="serach">
         <input type="text" placeholder="Search">
         <a href="#"><i  class="fa fa-search"></i> Search </a>
         <a  href="#"><i  class="fa fa-angle-down"></i> Category </a>
         <a href="#"><i  class="fa fa-shopping-cart"></i> Cart </a>
     </div>
 </div>


</div>


  </header>

  <nav>
      <ul>
    <li> <a href="#"> <i  class="fa fa-home"></i> Home</a></li>
    <li>  <a href="#"> <i  class="fa fa-suitcase"></i> Fashion bags</a> </li>
    <li>  <a href="#"> <i  class="fa fa-plus-circle"></i> Hats</a></li>
    <li>  <a href="#"> <i  class="fa fa-plus-circle"></i> Shades</a> </li> 
    <li>  <a href="#"> <i  class="fa fa-plus-circle"></i> Jewellery</a></li>
  
</ul>   
  </nav>
  <main>
      <section class="banner">
          <div>
              <h1>
                  50%
              </h1>
              <h1>
               OFF
            </h1>
            <h1>
              Today
            </h1>
            <button>
                Shop now
            </button>
            <img src="bags.jpg" alt="">
          </div>

      </section>
      <section class="item3"> 
          <div class="inner-3">
              <div>
              <h4> Malebag</h4>
              <p> Leather</p>
              <button>Shop-now</button>
            </div>
            <img src="malebag.jpg" alt="">
          </div>

          <div class="inner-3">
          <div>
            <h4> femalebag</h4>
            <p> Leather</p>
            <button>Shop-now</button>
          </div>
          <img src="femalebag.jpg" alt="">
        </div>

        <div class="inner-3">
        <div>
            <h4> Travelbag</h4>
            <p> Cotton</p>
            <button>Shop-now</button>
          </div>
          <img src="malebag.jpg" alt="">
        </div>
      
      </section>
      
      <section class= "cl">
      <h1> BEST-SELLERS</h1>
 <section class="seller">
     <div class="inner-seller">
         <img src="best.jpg" alt="">
     </div>
 </section>

      </section>
   

  </main>
</body>
