<header>
    
     <div class="logo"> 
        <h1>
          Edith-
          <span> Boutique </span>
        </h1>
      </div>

  <div class="head">
      <ul>
          <li> <a href="#">Blogs</a> </li>
          <li>  <a href="#">About us</a> </li>
          <li>  <a href="#">Contact us</a></li>
          <li>  <a href="#">Dealers</a> </li>
      </ul>
  
      <ul>
          <li>  <a href="#"><i class="bi bi-telephone"></i> </a> call us on +08178552177 </li>
          <li>  <a href="#"><i class="fa fa-map-marker"></i>  </a> Find-store</li>
          <li>  <a href="#"><i class="fa fa-shopping-cart"></i> </a>  My account</li>
      </ul>
  
  </div>

       <div class="search">
           <input type="text" placeholder="Search">
           <a href="#"><i  class="fa fa-search"></i> Search </a>
           <a  href="#"><i  class="fa fa-angle-down"></i> Category </a>
           <a href="#"><i  class="fa fa-shopping-cart"></i> Cart </a>
       </div>
  
  
  

  

    </header>
    
    <br>
    
  <div>

   <div class="cx"></div>
    <nav>
        <ul>
      <li> <a href="#"> <i  class="fa fa-home"></i> Home</a></li>
      <li>  <a href="#"> <i  class="fa fa-suitcase"></i> Fashion bags</a> </li>
      <li>  <a href="#"> <i  class="fa fa-plus-circle"></i> Hats</a></li>
      <li>  <a href="#"> <i  class="fa fa-plus-circle"></i> Shades</a> </li> 
      <li>  <a href="#"> <i  class="fa fa-plus-circle"></i> Jewellery</a></li>
    
  </ul>   
    </nav>
</div>
<body>
    <main>
        <section class="banner">
            <div>
                <h1>
                    50%
                </h1>
                <h1>
                 OFF
              </h1>
              <h1>
                Today
              </h1>
              <button>
                  Shop now
              </button>
              <img class="bags.png" src="../assets/bags.PNG" alt="pic">
            </div>
  
        </section>
        <section class="item3"> 
            <div class="inner-3">
                <div>
                <h4> Malebag</h4>
                <p> Leather</p>
                <button>Shop-now</button>
              </div>
              <img src="../assets/malebag.PNG" alt="pic">
            </div>
  
            <div class="inner-3">
            <div>
              <h4> femalebag</h4>
              <p> Leather</p>
              <button>Shop-now</button>
            </div>
            <img src="../assets/femalebag.PNG" alt="pic">
          </div>
  
          <div class="inner-3">
          <div>
              <h4> Travelbag</h4>
              <p> Cotton</p>
              <button>Shop-now</button>
            </div>
            <img src="../assets/travelbag.PNG" alt="pic">
          </div>
        
        </section>
        
        <section class= "cl">
        <h1> BEST-SELLERS</h1>
   <section class="seller">
       <div class="inner-seller">
        
          <img src="../assets/best.PNG" alt="pic">
          <div class="inner-left">
          <div>
      <p> Bag</p>
  <h5> R100</h5>
  <del> R150</del>
           </div>
           <button>Add to cart</button>
       </div>
      </div>
  
      <div class="inner-seller">
        
          <img src="../assets/best.PNG" alt="pic">
          <div class="inner-left">
          <div>
      <p> Bag</p>
  <h5> R100</h5>
  <del> R150</del>
           </div>
           <button>Add to cart</button>
       </div>
      </div>
  
      <div class="inner-seller">
        
          <img src="../assets/bracelet.PNG" alt="pic">
          <div class="inner-left">
          <div>
      <p> Bag</p>
  <h5> R100</h5>
  <del> R150</del>
           </div>
           <button>Add to cart</button>
       </div>
      </div>
   </section>
  
        </section>
  
        <section class="large">
            <div class="inner-large">
                <img src="../assets/jewellery.png" alt="pic">
                <div>
                    <h1> Shades</h1>
                    <h1> up to 10% off</h1>
                    <h1> R50</h1>
                </div>
            </div>
  
            <div class="inner-large">
              <img src="../assets/ring.png" alt="pic">
              <div>
                  <h1> Shades</h1>
                  <h1> up to 10% off</h1>
                  <h1> R50</h1>
              </div>
          </div>
  
          <div class="inner-large">
              <img src="../assets/jewellery.png" alt="pic">
              <div>
                  <h1> Shades</h1>
                  <h1> up to 10% off</h1>
                  <h1> R50</h1>
              </div>
          </div>
        </section>
  
     <br>
     
        <section class= "cl">
          <h1> Latest arrivals</h1>
     <section class="seller">
         <div class="inner-seller">
          
            <img src="../assets/totebag.png" alt="pic">
            <div class="inner-left">
            <div>
        <p> Bag</p>
    <h5> R100</h5>
    <del> R150</del>
             </div>
             <button>Add to cart</button>
         </div>
        </div>
    
        <div class="inner-seller">
          
            <img src="../assets/bracelet.PNG" alt="pic">
            <div class="inner-left">
            <div>
        <p> Bracelet</p>
    <h5> R100</h5>
    <del> R150</del>
             </div>
             <button>Add to cart</button>
         </div>
        </div>
    
        <div class="inner-seller">
          
            <img src="../assets/totebag.png" alt="pic">
            <div class="inner-left">
            <div>
        <p> Bag</p>
    <h5> R100</h5>
    <del> R150</del>
             </div>
             <button>Add to cart</button>
         </div>
        </div>
     </section>
    
          </section>
    </main>
  
  <footer>
      <div>
          <p>SUBSCRIPTION</p>
          <input type="text" placeholder="your email here">
          <button>Subscribe</button>
          <p>Connect with us</p>
          <i class="bi bi-facebook"></i>
          <i class="bi bi-twitter"></i>
          <i class="bi bi-instagram"></i>
          <i class="bi bi-youtube"></i>
      </div>
      <div>
        <p> HOW TO BUY</p>  
        <ul>
            <li> <a href="#"> Create an account</a></li>
            <li> <a href="#"> Delivery option</a></li>
            <li> <a href="#"> Making payments</a></li>
            <li> <a href="#">Buyer protection</a></li>
            <li> <a href="#"> New user guide</a></li>
        </ul>
      </div>
  
      <div>
          <p> CUSTOMER SERVICES</p>  
          <ul>
              <li> <a href="#"> Online service</a></li>
              <li> <a href="#"> secure</a></li>
              <li> <a href="#"> Respondible</a></li>
              <li> <a href="#"> Refund</a></li>
              <li> <a href="#"> call-us</a></li>
          </ul>
        </div>
  
        <div>
          <p> CONTACT US</p>  
          <ul>
              <li> <a href="#"> <i class="fa fa-map-marker"></i>2000 Johannesburg Braamfontein</a></li>
              <li> <a href="#"><i class="fa fa-phone"></i> 023-456-4567 </a></li>
              <li> <a href="#"> <i class="bi bi-envelope"></i>edithboutique@gmail.com</a></li>
           
          </ul>
        </div>
  </footer>
  </body>
  
 
